.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadLabel {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* 원하는 배경 색상 */
  color: white; /* 글자 색상 */
  border-radius: 5px; /* 모서리 둥글기 */
  cursor: pointer; /* 마우스 커서 모양 */
}

.fileInput {
  display: none; /* 기본 파일 입력 숨기기 */
}
